body {
    background-color:#62a0eaff;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
}
a {
    display: inline-block;
    text-decoration: none;
    color:white;
}
div {color:white;}
div.distractionfree {
    min-height:100%;
}
@media (min-aspect-ratio: 1/1) {
    div.distractionfree {
        max-width:60%;
    }
}
div.header {
    font-style: bold;
    text-align:left;
}
div.date {
    text-align: right;
    font-style: italic;
    font-size: 0.8em;
}
div.locales {
    text-align:right;
}
div.info {
    position:fixed;
    bottom:1%;
    width:97%;
    text-align:right;
    font-size:0.8em;
    font-weight:lighter;
}
div.title {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size:4em;
  font-weight: bold;
}
input.slider {
    position: fixed;
    bottom: 1%;
    width:100%;
    text-align:center;
}
p.code{
    text-align: left;
    margin-left: 3%;
}
p.content {
    text-align: justify;
}
p.pointed_list {
    text-align: left;
}
img {
    max-width: 100%;
    max-height: 100%;
}
figcaption {
    text-align: center;
    text-style: italic;
    font-size: 0.8em;
}

